<div class="header">-</div><div class="row">
<div class="col-md-6">
<h3>Day 1</h3>
<table class="table table-striped">
<tr><th>Start</th><th>Duration (minutes)</th><th>End</th><th>Episode</th></tr>
<tr>
	<td>09:00</td><td>15</td><td>09:15</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/01-run-quit.html">Running and Quitting</a></td>
</tr>
<tr>
	<td>09:15</td><td>20</td><td>09:35</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/02-variables.html">Variables and Assignment</a></td>
</tr>
<tr>
	<td>09:35</td><td>20</td><td>09:55</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/03-types-conversion.html">Data Types and Type Conversion</a></td>
</tr>
<tr>
	<td>09:55</td><td>25</td><td>10:20</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/04-built-in.html">Built-in Functions and Help</a></td>
</tr>
<tr>
	<td>10:20</td><td>15</td><td>10:35</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/05-coffee.html">BREAK</a></td>
</tr>
<tr>
	<td>10:35</td><td>20</td><td>10:55</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/06-libraries.html">Libraries</a></td>
</tr>
<tr>
	<td>10:55</td><td>20</td><td>11:15</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td>
</tr>
<tr>
	<td>11:15</td><td>30</td><td>11:45</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/08-data-frames.html">Pandas DataFrames</a></td>
</tr>
<tr>
	<td>11:45</td><td>30</td><td>12:15</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/09-plotting.html">Plotting</a></td>
</tr>
<tr>
	<td>12:15</td><td>60</td><td>13:15</td><td><a href="-">LUNCH</a></td>
</tr>
<tr>
	<td>13:15</td><td>20</td><td>13:35</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/11-lists.html">Lists</a></td>
</tr>
<tr>
	<td>13:35</td><td>25</td><td>14:00</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/12-for-loops.html">For Loops</a></td>
</tr>
<tr>
	<td>14:00</td><td>26</td><td>14:26</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/13-conditionals.html">Conditionals</a></td>
</tr>
<tr>
	<td>14:26</td><td>15</td><td>14:41</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/14-looping-data-sets.html">Looping Over Data Sets</a></td>
</tr>
<tr>
	<td>14:41</td><td>15</td><td>14:56</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/15-coffee.html">BREAK</a></td>
</tr>
<tr>
	<td>14:56</td><td>25</td><td>15:21</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/16-writing-functions.html">Writing Functions</a></td>
</tr>
<tr>
	<td>15:21</td><td>20</td><td>15:41</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/17-scope.html">Variable Scope</a></td>
</tr>
<tr>
	<td>15:41</td><td>30</td><td>16:11</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/18-style.html">Programming Style</a></td>
</tr>
<tr>
	<td>16:11</td><td>20</td><td>16:31</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/instructor/19-wrap.html">Wrap-Up</a></td>
</tr>
</table>
</div>
</div>
